/* .fragment.current-visible.visible:not(.current-fragment) {
    display: none;
    height:0px;
    line-height: 0px;
    font-size: 0px;
} */
.reveal .slides section .fragment.step-fade-in-then-out {
	opacity: 0;
	display: none; }
.reveal .slides section .fragment.step-fade-in-then-out.current-fragment {
	opacity: 1;
	display: inline; }

  .reveal section p {
    /* font-weight: bold !important; */
    font-size: 0.7em !important;
}
.reveal section li {
  /* font-weight: bold !important; */
  font-size: 0.7em !important;
}
.text-small-link {
  font-size: 0.75rem;
  line-height: 1rem;
}
