html, body {
  margin: 0;
  padding: 0;

}
sketch-holder {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically.
	-webkit-text-stroke: 0.8px black; */
  align-items: center;
}

canvas{
	display:block;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.mainWindow{
  margin: 0;
  display: flex;	
  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically.
	-webkit-text-stroke: 0.8px black; */
  align-items: center;
  
  text-align: left;
}

.uiText{
	font-family: Verdana;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
	font-size : 18px; 
	font-weight: bold;
}

.uiButton{
	background-color:#3CB4F5;
	border-radius:3px;
	border:1px solid #000000;
}
/*
.uiRadio{
	background-color:#3CB4F5;
	
  height: 25px;
  width: 25px;
}

.container:hover input ~ .uiRadio {
  background-color: #ccc;
}

.container input:checked ~ .uiRadio {
  background-color: #2196F3;
}
*/
/*
.uiRadio:checked:after{
  position: absolute;
  height: 20px;
  width: 60px;
  background-color: #0ff;
}
.uiRadio:after{
  position: absolute;
  height: 20px;
  width: 60px;
  background-color: #0ff;
}
*/
.uiRadio{
	width: 70px;
	font-family: Verdana;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
	font-size : 18px; 
	font-weight: bold;
}

input[type='checkbox']:after{     
	width: 10px;
	height: 10px;
	border-radius: 0px;
	top: 0px;
	left: 0px;
	position: relative;
	background-color: #555;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
input[type='checkbox']:checked:after{     
	width: 10px;
	height: 10px;
	border-radius: 0px;
	top: 0px;
	left: 0px;
	position: relative;
	background-color: #3CB4F5;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type='radio']:after{     
	width: 10px;
	height: 10px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #555;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}
input[type='radio']:checked:after{
	background-color: #3CB4F5;     
	width: 10px;
	height: 10px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

/*
input[type='radio']:after {
        width: 25px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #000000;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }


    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
		background-color: #3CB4F5;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }
	
	*/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 6.7px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #323232;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2px solid #001e00;
  height: 19px;
  width: 11px;
  border-radius: 1px;
  background: #3CB4F5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3f3f3f;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #323232;
  border-radius: 2px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2px solid #001e00;
  height: 19px;
  width: 11px;
  border-radius: 0px;
  background: #3CB4F5;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #252525;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #323232;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 2px solid #001e00;
  height: 19px;
  width: 11px;
  border-radius: 0px;
  background: #3CB4F5;
  cursor: pointer;
  height: 5.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #323232;
}
input[type=range]:focus::-ms-fill-upper {
  background: #3f3f3f;
}

/*
// Hide the browser's default radio button 
.uiRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.uiRadio{
  position: absolute;
  padding-left: 20px;
  height: 20px;
  width: 0px;
  background-color: #0ff;
  border-radius: 50%;
	font-family: Verdana;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
	font-size : 18px; 
	font-weight: bold;
}
*/