html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: auto;
}
.canvasR-container{
  /* width: 100%; */
  width:75%;
  height: 300px;
  margin: auto;
}
/* #canvasR {
  display: block;
  height:100px !important;
}   */

.flex-item {
  flex-grow: 1;
  text-align: center;
}
.slider-container{
  display:flex;
  float:left;
  width: 70%;
  margin: auto;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 14px;
    height: 100px;
    /* width: 8px;
    height: 175px; */
    padding: 0 5px;
}